/* El "Reset" Universal */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both; /* Limpia los flotantes a ambos lados */
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  height: 100vh;
}

.wrapper {
  max-width: 120rem;
  background-color: #0F0;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin: 40px;
}

p {
  margin-bottom: 10px;
}

form {
  /* background-color: #F0F; */
  width: 50rem;
  /* Centrar horizontal */
  margin: 0 auto; 
  border: 1px solid #000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 40px;
  /* Centrar vertical */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-group {
  margin-bottom: 20px;
  float: left;
  padding-right: 5px;
}

.form-group__general {
  width: 50%;
}

.form-group__general label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"], select, textarea {
  width: 100%;    /* Que llene el espacio de su padre */
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #000;
  font: inherit;
}

input[type="text"], select {
  height: 30px;
}

textarea {
  height: 50px;
}

input[type="checkbox"]{
  margin: 0 10px;
}

.form-group__checkbox:first-child input {
    margin-left: 0;
}

.form-group__area {
  width: 100%;
}

.form-group__area label {
  display: block;
  margin-bottom: 10px;
}

.btn {
  background-color: #1aab8a;
  color: #fff;
  padding: 10px 40px;
  border-radius: 3px;
  border-style: none;
  display: block;
  margin: 0 auto;
}
.btn:hover {
  cursor: pointer;
}
